@import 'modern-normalize';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

* {
  scroll-behavior: smooth;
}

:root {
  --main-color: #3470ff;
  --accent-color: #0b44cd;

  --black: #121417;
  --label-color: #8a8a89;
  --secondary-text-color: rgba(18, 20, 23, 0.5);
  --light-background: #f7f7fb;
  --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --modal-background: rgba(18, 20, 23, 0.5);

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  display: block;
  cursor: pointer;
  border: none;
}

.car-select {
  width: 224px;

  height: 48px;
}

.css-13cymwt-control {
  height: 48px !important;
  background-color: var(--light-background) !important;
  border: none !important;
  border-radius: 14px !important;
}
.css-1fdsijx-ValueContainer {
  padding-left: 20px !important;
}
.css-1jqq78o-placeholder {
  font-weight: 500;
  font-size: 18;
  line-height: 1.11;

  color: var(--black) !important;
}
.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-t3ipsp-control {
  height: 48px !important;
  background-color: var(--light-background) !important;
  border: none !important;
  border-radius: 14px !important;
}
